<h1>Persona</h1>
<!--Nombre: <input type="text" [formControl]="nombreControl"> 
Apellido: <input type="text" [formControl]="apellidoControl"> 
Edad: <input type="number" [formControl]="edadControl"> -->

<form [formGroup]="personaForm" (ngSubmit)="guardarPersona()">
    <label>Nombre
        <input type="text" formControlName="nombre">
    </label>
    <label>Apellido
        <input type="text" formControlName="apellido">
    </label>
    <label>Direccion
        <input type="text" formControlName="direccion">
    </label>
    <label>Localidad
        <input type="text" formControlName="localidad">
    </label>
    <label>Edad
        <input type="number" formControlName="edad">
    </label>

    <div formArrayName="telefonos">
        <h3>Telefonos</h3>
        <button (click)="agregarTelefono()">Agregar Telefono</button>

        <div *ngFor="let telefono of telefonos.controls; let i = index">
            <label>
                Telefono <input type="text" [formControlName]="i">
            </label>
        </div>
    </div>

    Status Formulario: {{personaForm.status}}
    <button type="submit">Guardar</button>
</form>