<h1>Taller de Compresores</h1>

<form [formGroup]="tallerForm" (ngSubmit)="submit()">
    <label>Unidad
    <input type="text" formControlName="unidad" />
    </label>
    <label>Fecha de Ingreso
    <input type="text" formControlName="fechaIngreso" />
    </label>
    <div>
        <br />
        <div formGroupName="origen">
            <h3>Datos del Campo</h3>
            <label>yacimiento
                <input type="text" formControlName="yacimiento" />
            </label>
            <label>Numero Pozo
                <input type="text" formControlName="nroPozo" />
            </label>
        </div>
        <div formArrayName="faltantes">
            <br />
            <h2>Faltantes</h2>
            <button mat-icon-button color="accent" (click)="agregarFaltantes()">
            Agregar Faltante
        </button>
            <br />
            <div *ngFor="let faltante of faltantes.controls; let i = index">
                <label> Faltante <input type="text" [formControlName]="i" /></label>
            </div>
        </div>

        Status Formulario: {{ tallerForm.status }}
        <button type="submit" mat-raised-button="primary">Guardar</button>
    </div>
</form>